adf/pipeline/data-ingestion-avro.json
{
	"name": "data-ingestion-avro",
	"properties": {
		"activities": [
			{
				"name": "Get Avro File Metadata",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Start Logging of Activities",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "avro_ingestion_input_file",
						"type": "DatasetReference",
						"parameters": {
							"filePath": {
								"value": "@pipeline().parameters.filePath",
								"type": "Expression"
							},
							"fileName": {
								"value": "@pipeline().parameters.fileName",
								"type": "Expression"
							},
							"containerName": {
								"value": "@pipeline().parameters.ingestionContainerName",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"size",
						"columnCount",
						"itemName",
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					}
				}
			},
			{
				"name": "FileSize gt 0 and ColumnCount Expected",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Avro File Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(greater(activity('Get Avro File Metadata').output.size, 0),equals(pipeline().parameters.columnCount, activity('Get Avro File Metadata').output.columnCount))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "execute data ingestion error",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "data-ingestion-error",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"ingestionContainerName": {
										"value": "@pipeline().parameters.ingestionContainerName",
										"type": "Expression"
									},
									"fileName": {
										"value": "@pipeline().parameters.fileName",
										"type": "Expression"
									},
									"filePath": {
										"value": "@pipeline().parameters.filePath",
										"type": "Expression"
									},
									"errorContainerName": {
										"value": "@pipeline().parameters.errorContainerName",
										"type": "Expression"
									},
									"parentDataFactoryRunId": {
										"value": "@pipeline().parameters.parentDataFactoryRunId",
										"type": "Expression"
									}
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy Avro to Raw Zone",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AvroSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"blockSizeInMB": 75
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "avro_ingestion_input_file",
									"type": "DatasetReference",
									"parameters": {
										"filePath": {
											"value": "@pipeline().parameters.filePath",
											"type": "Expression"
										},
										"fileName": {
											"value": "@pipeline().parameters.fileName",
											"type": "Expression"
										},
										"containerName": {
											"value": "@pipeline().parameters.ingestionContainerName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "data_ingestion_raw_output_file_parquet",
									"type": "DatasetReference",
									"parameters": {
										"containerName": {
											"value": "@pipeline().parameters.ingestionOutputContainerName",
											"type": "Expression"
										},
										"filePath": {
											"value": "@variables('calculatedPath')",
											"type": "Expression"
										},
										"fileName": {
											"value": "@pipeline().parameters.rawDestinationFileName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete Ingestion FIle",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Copy Avro to Raw Zone",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "avro_ingestion_input_file",
									"type": "DatasetReference",
									"parameters": {
										"filePath": {
											"value": "@pipeline().parameters.filePath",
											"type": "Expression"
										},
										"fileName": {
											"value": "@pipeline().parameters.fileName",
											"type": "Expression"
										},
										"containerName": {
											"value": "@pipeline().parameters.ingestionContainerName",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							}
						}
					]
				}
			},
			{
				"name": "Create The New Path Based On Load Type",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "calculatedPath",
					"value": {
						"value": "@concat(pipeline().parameters.rawDestination, formatDateTime(pipeline().TriggerTime, 'yyyy'), '/', formatDateTime(pipeline().TriggerTime, 'MM'), '/', formatDateTime(pipeline().TriggerTime, 'dd'), '/')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Start Logging of Activities",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Create The New Path Based On Load Type",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(pipeline().parameters.loggingBaseURL,'executionlogs/', pipeline().parameters.LogId)",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "@concat('Bearer ', pipeline().parameters.BearerToken)",
							"type": "Expression"
						}
					},
					"body": {
						"value": "@concat('{\"childPipelineRundId\": \"', pipeline().RunId, '\",\"childPipelineName\": \"', pipeline().Pipeline, '\",\"childSourceObjectName\": \"', pipeline().parameters.ingestionContainerName, pipeline().parameters.filePath, pipeline().parameters.fileName, '\", \"childDestinationObjectName\": \"/', pipeline().parameters.ingestionOutputContainerName, pipeline().parameters.rawDestination, '/', pipeline().parameters.rawDestinationFileName,  '\", \"childExecutionStatus\": \"In-Progress\", \"childExecutionStartDate\": \"', utcnow(), '\"}')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Success Logging Activity",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "FileSize gt 0 and ColumnCount Expected",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(pipeline().parameters.loggingBaseURL,'executionlogs/', pipeline().parameters.LogId, '/', activity('Start Logging of Activities').output.data.childExecutionLogId)",
						"type": "Expression"
					},
					"method": "PATCH",
					"headers": {
						"Authorization": {
							"value": "@concat('Bearer ', pipeline().parameters.BearerToken)",
							"type": "Expression"
						}
					},
					"body": {
						"value": "@concat('{\"childExecutions\": { \"childExecutionStatus\":  \"Success\", \"childExecutionEndDate\": \"', utcnow(), '\"}}')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Failure Logging Activity",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "FileSize gt 0 and ColumnCount Expected",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(pipeline().parameters.loggingBaseURL,'executionlogs/', pipeline().parameters.LogId, '/', activity('Start Logging of Activities').output.data.childExecutionLogId)",
						"type": "Expression"
					},
					"method": "PATCH",
					"headers": {
						"Authorization": {
							"value": "@concat('Bearer ', pipeline().parameters.BearerToken)",
							"type": "Expression"
						}
					},
					"body": {
						"value": "@concat('{\"childExecutions\": { \"childExecutionStatus\":  \"Failure\", \"childExecutionEndDate\": \"', utcnow(), '\"}}')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"fileName": {
				"type": "string",
				"defaultValue": "buyinggroups.avro"
			},
			"filePath": {
				"type": "string"
			},
			"rawDestination": {
				"type": "string",
				"defaultValue": "WorldWideImporters/buyinggroups/"
			},
			"rawDestinationFileName": {
				"type": "string",
				"defaultValue": "buyinggroups.parquet"
			},
			"columnCount": {
				"type": "int",
				"defaultValue": 5
			},
			"loadType": {
				"type": "string",
				"defaultValue": "FULL"
			},
			"ingestionContainerName": {
				"type": "string",
				"defaultValue": "landing"
			},
			"ingestionOutputContainerName": {
				"type": "string",
				"defaultValue": "raw"
			},
			"errorContainerName": {
				"type": "string",
				"defaultValue": "error"
			},
			"parentDataFactoryRunId": {
				"type": "string",
				"defaultValue": "864d42c4-6177-417a-8bf2-36881ca5ba64"
			},
			"LogId": {
				"type": "string"
			},
			"loggingBaseURL": {
				"type": "string"
			},
			"BearerToken": {
				"type": "string"
			}
		},
		"variables": {
			"calculatedPath": {
				"type": "String"
			}
		},
		"folder": {
			"name": "data-ingestion"
		},
		"annotations": []
	}
}