adf/pipeline/data-ingestion-avro.json
{
	"name": "data-ingestion-avro",
	"properties": {
		"activities": [
			{
				"name": "Get Avro File Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "avro_ingestion_file",
						"type": "DatasetReference",
						"parameters": {
							"filePath": {
								"value": "@pipeline().parameters.filePath",
								"type": "Expression"
							},
							"fileName": {
								"value": "@pipeline().parameters.fileName",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"size",
						"columnCount",
						"itemName",
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					}
				}
			},
			{
				"name": "FileSize gt 0 and ColumnCount Expected",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Avro File Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(greater(activity('Get Avro File Metadata').output.size, 0),equals(pipeline().parameters.columnCount, activity('Get Avro File Metadata').output.columnCount))",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"fileName": {
				"type": "string",
				"defaultValue": "buyinggroups.avro"
			},
			"filePath": {
				"type": "string"
			},
			"transientDestination": {
				"type": "string"
			},
			"transientDestinationFileName": {
				"type": "string"
			},
			"columnCount": {
				"type": "int"
			},
			"loadType": {
				"type": "string"
			},
			"ingestionContainerName": {
				"type": "string"
			}
		},
		"folder": {
			"name": "data-ingestion"
		},
		"annotations": []
	}
}