adf/pipeline/data-ingestion-avro.json
{
	"name": "data-ingestion-avro",
	"properties": {
		"activities": [
			{
				"name": "Get Avro File Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "avro_ingestion_input_file",
						"type": "DatasetReference",
						"parameters": {
							"filePath": {
								"value": "@pipeline().parameters.filePath",
								"type": "Expression"
							},
							"fileName": {
								"value": "@pipeline().parameters.fileName",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"size",
						"columnCount",
						"itemName",
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					}
				}
			},
			{
				"name": "FileSize gt 0 and ColumnCount Expected",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Avro File Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(greater(activity('Get Avro File Metadata').output.size, 0),equals(pipeline().parameters.columnCount, activity('Get Avro File Metadata').output.columnCount))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy Avro to Raw Zone",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AvroSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"blockSizeInMB": 75
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "avro_ingestion_input_file",
									"type": "DatasetReference",
									"parameters": {
										"filePath": {
											"value": "@pipeline().parameters.filePath",
											"type": "Expression"
										},
										"fileName": {
											"value": "@pipeline().parameters.fileName",
											"type": "Expression"
										},
										"containerName": {
											"value": "@pipeline().parameters.ingestionContainerName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "data_ingestion_raw_output_file",
									"type": "DatasetReference",
									"parameters": {
										"containerName": {
											"value": "@pipeline().parameters.ingestionOutputContainerName",
											"type": "Expression"
										},
										"filePath": {
											"value": "@pipeline().parameters.rawDestination",
											"type": "Expression"
										},
										"fileName": {
											"value": "@pipeline().parameters.rawDestinationFileName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete Ingestion FIle",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Copy Avro to Raw Zone",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "avro_ingestion_input_file",
									"type": "DatasetReference",
									"parameters": {
										"filePath": {
											"value": "@pipeline().parameters.filePath",
											"type": "Expression"
										},
										"fileName": {
											"value": "@pipeline().parameters.fileName",
											"type": "Expression"
										},
										"containerName": {
											"value": "@pipeline().parameters.ingestionContainerName",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"fileName": {
				"type": "string",
				"defaultValue": "buyinggroups.avro"
			},
			"filePath": {
				"type": "string"
			},
			"rawDestination": {
				"type": "string",
				"defaultValue": "WorldWideImporters/buyinggroups/"
			},
			"rawDestinationFileName": {
				"type": "string",
				"defaultValue": "buyinggroups.parquet"
			},
			"columnCount": {
				"type": "int",
				"defaultValue": 12
			},
			"loadType": {
				"type": "string",
				"defaultValue": "FULL"
			},
			"ingestionContainerName": {
				"type": "string",
				"defaultValue": "landing"
			},
			"ingestionOutputContainerName": {
				"type": "string",
				"defaultValue": "raw"
			}
		},
		"folder": {
			"name": "data-ingestion"
		},
		"annotations": []
	}
}