adf/pipeline/data-ingestion-error.json
{
	"name": "data-ingestion-error",
	"properties": {
		"activities": [
			{
				"name": "Copy Data From Landing To Error",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Start Logging of Activities",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "error_ingestion_input_file",
						"type": "DatasetReference",
						"parameters": {
							"filePath": {
								"value": "@pipeline().parameters.filePath",
								"type": "Expression"
							},
							"fileName": {
								"value": "@pipeline().parameters.fileName",
								"type": "Expression"
							},
							"containerName": {
								"value": "@pipeline().parameters.ingestionContainerName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "data_ingestion_error_output_file",
						"type": "DatasetReference",
						"parameters": {
							"containerName": {
								"value": "@pipeline().parameters.errorContainerName",
								"type": "Expression"
							},
							"filePath": {
								"value": "@variables('errorPathName')",
								"type": "Expression"
							},
							"fileName": {
								"value": "@pipeline().parameters.fileName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Delete the landing file",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Copy Data From Landing To Error",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "error_ingestion_input_file",
						"type": "DatasetReference",
						"parameters": {
							"filePath": {
								"value": "@pipeline().parameters.filePath",
								"type": "Expression"
							},
							"fileName": {
								"value": "@pipeline().parameters.fileName",
								"type": "Expression"
							},
							"containerName": {
								"value": "@pipeline().parameters.ingestionContainerName",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					}
				}
			},
			{
				"name": "Set the Error Path",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "errorPathName",
					"value": {
						"value": "@concat(pipeline().parameters.ingestionContainerName, '/', pipeline().RunId)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Start Logging of Activities",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set the Error Path",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(pipeline().parameters.loggingBaseURL,'executionlogs/', pipeline().parameters.LogId)",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "@concat('Bearer ', pipeline().parameters.BearerToken)",
							"type": "Expression"
						}
					},
					"body": {
						"value": "@concat('{\"childPipelineRundId\": \"', pipeline().RunId, '\",\"childPipelineName\": \"', pipeline().Pipeline, '\",\"childSourceObjectName\": \"/', pipeline().parameters.ingestionContainerName, pipeline().parameters.filePath, '/', pipeline().parameters.fileName, '\", \"childDestinationObjectName\": \"/', pipeline().parameters.errorContainerName, variables('errorPathName'), pipeline().parameters.fileName,  '\", \"childExecutionStatus\": \"Ungoverned\", \"childExecutionStartDate\": \"', utcnow(), '\"}')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Success Logging Activity",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Delete the landing file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(pipeline().parameters.loggingBaseURL,'executionlogs/', pipeline().parameters.LogId, '/', activity('Start Logging of Activities').output.data.childExecutionLogId)",
						"type": "Expression"
					},
					"method": "PATCH",
					"headers": {
						"Authorization": {
							"value": "@concat('Bearer ', pipeline().parameters.BearerToken)",
							"type": "Expression"
						}
					},
					"body": {
						"value": "@concat('{\"childExecutions\": { \"childExecutionStatus\":  \"Ungoverned\", \"childExecutionEndDate\": \"', utcnow(), '\"}}')",
						"type": "Expression"
					},
					"linkedServices": [],
					"datasets": []
				}
			}
		],
		"parameters": {
			"ingestionContainerName": {
				"type": "string",
				"defaultValue": "landing"
			},
			"fileName": {
				"type": "string",
				"defaultValue": "orders.avro"
			},
			"filePath": {
				"type": "string",
				"defaultValue": "/"
			},
			"errorContainerName": {
				"type": "string",
				"defaultValue": "error"
			},
			"parentDataFactoryRunId": {
				"type": "string",
				"defaultValue": "b303e2d1-b459-4f33-b6d3-d870ddfee214"
			},
			"LogId": {
				"type": "string"
			},
			"LoggingBaseURL": {
				"type": "string"
			},
			"BearerToken": {
				"type": "string"
			}
		},
		"variables": {
			"errorPathName": {
				"type": "String",
				"defaultValue": "/"
			}
		},
		"folder": {
			"name": "data-ingestion"
		},
		"annotations": []
	}
}