adf/pipeline/data-ingestion-azure-sql.json
{
	"name": "data-ingestion-azure-sql",
	"properties": {
		"activities": [
			{
				"name": "Get Azure SQL Tables To Extract",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[metadata].[GET_SOURCE_DESTINATION_OBJECTS]",
						"storedProcedureParameters": {
							"SERVER_DATABASE": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.sourceDatabaseName",
									"type": "Expression"
								}
							},
							"SERVER_FQDN": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.sourceServerFQDN",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "metadata_objects_to_extract",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Azure SQL Tables To Extract",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Azure SQL Tables To Extract').output.value",
						"type": "Expression"
					},
					"batchCount": 10,
					"activities": [
						{
							"name": "Copy Source Data To ADLS",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "azure_sql_table",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().SCHEMA_NAME",
											"type": "Expression"
										},
										"objectName": {
											"value": "@item().OBJECT_NAME",
											"type": "Expression"
										},
										"databaseName": {
											"value": "@pipeline().parameters.sourceDatabaseName",
											"type": "Expression"
										},
										"serverName": {
											"value": "@pipeline().parameters.sourceServerFQDN",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"sourceServerFQDN": {
				"type": "string",
				"defaultValue": "andrmdwopenhacksourcesql001d.database.windows.net"
			},
			"sourceDatabaseName": {
				"type": "string",
				"defaultValue": "CloudSales"
			},
			"extractionDateTime": {
				"type": "string",
				"defaultValue": "2021-06-22"
			}
		},
		"annotations": []
	}
}