adf/pipeline/data-ingestion.json
{
	"name": "data-ingestion",
	"properties": {
		"activities": [
			{
				"name": "File Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.06:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[GetFileInformation]",
						"storedProcedureParameters": {
							"DataFactoryRunId": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"ExecutionStartDateTime": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							},
							"FileName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.sourceFile",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "configuration_lookup",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Data-Ingestion-By-FileType",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "File Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@toUpper(activity('File Lookup').output.value[0].FileType)",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "AVRO",
							"activities": [
								{
									"name": "execute data ingestion avro",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "data-ingestion-avro",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"fileName": {
												"value": "@pipeline().parameters.sourceFile",
												"type": "Expression"
											},
											"filePath": {
												"value": "@pipeline().parameters.sourceFolder",
												"type": "Expression"
											},
											"rawDestination": {
												"value": "@activity('File Lookup').output.value[0].RawZoneDestination",
												"type": "Expression"
											},
											"rawDestinationFileName": {
												"value": "@activity('File Lookup').output.value[0].RawZoneFileName",
												"type": "Expression"
											},
											"columnCount": {
												"value": "@activity('File Lookup').output.value[0].ColumnCount",
												"type": "Expression"
											},
											"loadType": {
												"value": "@activity('File Lookup').output.value[0].LoadType",
												"type": "Expression"
											},
											"ingestionContainerName": {
												"value": "@pipeline().parameters.ingestionContainerName",
												"type": "Expression"
											},
											"ingestionOutputContainerName": {
												"value": "@activity('File Lookup').output.value[0].RawZoneContainerName",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"concurrency": 10,
		"parameters": {
			"sourceFolder": {
				"type": "string",
				"defaultValue": "/"
			},
			"sourceFile": {
				"type": "string",
				"defaultValue": "buyinggroups.avro"
			},
			"ingestionContainerName": {
				"type": "string",
				"defaultValue": "landing"
			}
		},
		"folder": {
			"name": "data-ingestion"
		},
		"annotations": []
	}
}