adf/pipeline/data-ingestion-json.json
{
	"name": "data-ingestion-json",
	"properties": {
		"activities": [
			{
				"name": "Get JSON File Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "json_ingestion_input_file",
						"type": "DatasetReference",
						"parameters": {
							"filePath": {
								"value": "@pipeline().parameters.filePath",
								"type": "Expression"
							},
							"fileName": {
								"value": "@pipeline().parameters.fileName",
								"type": "Expression"
							},
							"containerName": {
								"value": "@pipeline().parameters.ingestionContainerName",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"size",
						"structure",
						"itemName",
						"columnCount"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					}
				}
			},
			{
				"name": "Create The New Path Based On Load Type",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get JSON File Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": ""
				}
			},
			{
				"name": "FileSize gt 0 and ColumnCount Expected",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Create The New Path Based On Load Type",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(greater(activity('Get Delimited File MetaData').output.size, 0),equals(pipeline().parameters.columnCount, activity('Get Delimited File MetaData').output.columnCount))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy JSON to Raw Zone",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "json_ingestion_input_file",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "data_ingestion_raw_output_file_parquet",
									"type": "DatasetReference",
									"parameters": {
										"containerName": "raw"
									}
								}
							]
						},
						{
							"name": "Delete Ingestion File",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Copy JSON to Raw Zone",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"enableLogging": true
							}
						}
					]
				}
			}
		],
		"parameters": {
			"fileName": {
				"type": "string",
				"defaultValue": "buyinggroups.avro"
			},
			"filePath": {
				"type": "string"
			},
			"rawDestination": {
				"type": "string",
				"defaultValue": "WorldWideImporters/buyinggroups/"
			},
			"rawDestinationFileName": {
				"type": "string",
				"defaultValue": "buyinggroups.parquet"
			},
			"columnCount": {
				"type": "int",
				"defaultValue": 5
			},
			"loadType": {
				"type": "string",
				"defaultValue": "FULL"
			},
			"ingestionContainerName": {
				"type": "string",
				"defaultValue": "landing"
			},
			"ingestionOutputContainerName": {
				"type": "string",
				"defaultValue": "raw"
			}
		},
		"folder": {
			"name": "data-ingestion"
		},
		"annotations": []
	}
}