mtcchimoderndwdf002d/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "mtcchimoderndwdf002d"
		},
		"data_lake_storage_account_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://mtcchidatalake001d.dfs.core.windows.net"
		},
		"key_vault_secrets_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://mtcchimoderndwkv001d.vault.azure.net/"
		},
		"meta_data_configuration_db_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "MetaDataConfigurationConnectionString"
		},
		"landing_file_pickup_properties_data-ingestion_parameters_sourceFolder": {
			"type": "string",
			"defaultValue": "@triggerBody().folderPath"
		},
		"landing_file_pickup_properties_data-ingestion_parameters_sourceFile": {
			"type": "string",
			"defaultValue": "@triggerBody().fileName"
		},
		"landing_file_pickup_properties_data-ingestion_parameters_ingestionContainerName": {
			"type": "string",
			"defaultValue": "landing"
		},
		"landing_file_pickup_properties_data-ingestion_parameters_errorContainerName": {
			"type": "string",
			"defaultValue": "error"
		},
		"landing_file_pickup_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/3cc29ed6-3ddf-41ce-a514-677bc7ebaf77/resourceGroups/MTC-CHI-MODERN-DATA-WAREHOUSE-001-D/providers/Microsoft.Storage/storageAccounts/mtcchidatalake001d"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/data_lake_storage_account')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('data_lake_storage_account_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/key_vault_secrets')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('key_vault_secrets_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/avro_ingestion_input_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "data_lake_storage_account",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filePath": {
						"type": "string"
					},
					"fileName": {
						"type": "string"
					},
					"containerName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "data-ingestion-input"
				},
				"annotations": [],
				"type": "Avro",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().filePath",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().containerName",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/data_lake_storage_account')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/data_ingestion_error_output_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "data_lake_storage_account",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"containerName": {
						"type": "string"
					},
					"filePath": {
						"type": "string"
					},
					"fileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "data-ingestion-output"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().filePath",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().containerName",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/data_lake_storage_account')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/data_ingestion_raw_output_file_avro')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "data_lake_storage_account",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"containerName": {
						"type": "string",
						"defaultValue": "raw"
					},
					"filePath": {
						"type": "string"
					},
					"fileName": {
						"type": "string",
						"defaultValue": "invoices.avro"
					}
				},
				"folder": {
					"name": "data-ingestion-output"
				},
				"annotations": [],
				"type": "Avro",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/data_lake_storage_account')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/data_ingestion_raw_output_file_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "data_lake_storage_account",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"containerName": {
						"type": "string",
						"defaultValue": "raw"
					},
					"filePath": {
						"type": "string"
					},
					"fileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "data-ingestion-output"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().filePath",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().containerName",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/data_lake_storage_account')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/delmited_ingestion_input_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "data_lake_storage_account",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filePath": {
						"type": "string"
					},
					"fileName": {
						"type": "string"
					},
					"containerName": {
						"type": "string"
					},
					"compressionType": {
						"type": "string",
						"defaultValue": "none"
					},
					"compressionLevel": {
						"type": "string",
						"defaultValue": "Optimal"
					},
					"columnDelimiter": {
						"type": "string",
						"defaultValue": ","
					},
					"encoding": {
						"type": "string",
						"defaultValue": "UTF-8"
					},
					"escapeCharacter": {
						"type": "string",
						"defaultValue": "\\"
					},
					"quoteCharacter": {
						"type": "string",
						"defaultValue": "\""
					},
					"firstRowAsHeader": {
						"type": "bool",
						"defaultValue": true
					}
				},
				"folder": {
					"name": "data-ingestion-input"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().filePath",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().containerName",
							"type": "Expression"
						}
					},
					"columnDelimiter": {
						"value": "@dataset().columnDelimiter",
						"type": "Expression"
					},
					"compressionCodec": {
						"value": "@dataset().compressionType",
						"type": "Expression"
					},
					"compressionLevel": {
						"value": "@dataset().compressionLevel",
						"type": "Expression"
					},
					"encodingName": {
						"value": "@dataset().encoding",
						"type": "Expression"
					},
					"escapeChar": {
						"value": "@dataset().escapeCharacter",
						"type": "Expression"
					},
					"firstRowAsHeader": {
						"value": "@dataset().firstRowAsHeader",
						"type": "Expression"
					},
					"quoteChar": {
						"value": "@dataset().quoteCharacter",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/data_lake_storage_account')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/error_ingestion_input_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "data_lake_storage_account",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filePath": {
						"type": "string"
					},
					"fileName": {
						"type": "string"
					},
					"containerName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "data-ingestion-input"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().filePath",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().containerName",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/data_lake_storage_account')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/json_ingestion_input_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "data_lake_storage_account",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filePath": {
						"type": "string"
					},
					"fileName": {
						"type": "string"
					},
					"containerName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "data-ingestion-input"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().filePath",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().containerName",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/data_lake_storage_account')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/parquet_ingestion_input_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "data_lake_storage_account",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filePath": {
						"type": "string"
					},
					"fileName": {
						"type": "string"
					},
					"containerName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "data-ingestion-input"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().filePath",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().containerName",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/data_lake_storage_account')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/meta_data_configuration_db')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "key_vault_secrets",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('meta_data_configuration_db_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/key_vault_secrets')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/data-ingestion-error')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Data From Landing To Error",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set the Error Path",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false
						},
						"inputs": [
							{
								"referenceName": "error_ingestion_input_file",
								"type": "DatasetReference",
								"parameters": {
									"filePath": {
										"value": "@pipeline().parameters.filePath",
										"type": "Expression"
									},
									"fileName": {
										"value": "@pipeline().parameters.fileName",
										"type": "Expression"
									},
									"containerName": {
										"value": "@pipeline().parameters.ingestionContainerName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "data_ingestion_error_output_file",
								"type": "DatasetReference",
								"parameters": {
									"containerName": {
										"value": "@pipeline().parameters.errorContainerName",
										"type": "Expression"
									},
									"filePath": {
										"value": "@variables('errorPathName')",
										"type": "Expression"
									},
									"fileName": {
										"value": "@pipeline().parameters.fileName",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Delete the landing file",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Copy Data From Landing To Error",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "error_ingestion_input_file",
								"type": "DatasetReference",
								"parameters": {
									"filePath": {
										"value": "@pipeline().parameters.filePath",
										"type": "Expression"
									},
									"fileName": {
										"value": "@pipeline().parameters.fileName",
										"type": "Expression"
									},
									"containerName": {
										"value": "@pipeline().parameters.ingestionContainerName",
										"type": "Expression"
									}
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true
							}
						}
					},
					{
						"name": "Set the Error Path",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Create Child Execution Log",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "errorPathName",
							"value": {
								"value": "@concat(pipeline().parameters.ingestionContainerName, '/', pipeline().RunId)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Create Child Execution Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[CreateChildExecutionLog]",
							"storedProcedureParameters": {
								"DataFactoryName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"DataFactoryRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecutionStartDateTime": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "String"
								},
								"FileName": {
									"value": {
										"value": "@pipeline().parameters.fileName",
										"type": "Expression"
									},
									"type": "String"
								},
								"ParentDataFactoryRunId": {
									"value": {
										"value": "@pipeline().parameters.parentDataFactoryRunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "meta_data_configuration_db",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "End Child Execution Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Delete the landing file",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[EndChildExecutionLog]",
							"storedProcedureParameters": {
								"DataFactoryRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"ParentDataFactoryRunId": {
									"value": {
										"value": "@pipeline().parameters.parentDataFactoryRunId",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "meta_data_configuration_db",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"ingestionContainerName": {
						"type": "string",
						"defaultValue": "landing"
					},
					"fileName": {
						"type": "string",
						"defaultValue": "orders.avro"
					},
					"filePath": {
						"type": "string",
						"defaultValue": "/"
					},
					"errorContainerName": {
						"type": "string",
						"defaultValue": "error"
					},
					"parentDataFactoryRunId": {
						"type": "string",
						"defaultValue": "b303e2d1-b459-4f33-b6d3-d870ddfee214"
					}
				},
				"variables": {
					"errorPathName": {
						"type": "String",
						"defaultValue": "/"
					}
				},
				"folder": {
					"name": "data-ingestion"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/error_ingestion_input_file')]",
				"[concat(variables('factoryId'), '/datasets/data_ingestion_error_output_file')]",
				"[concat(variables('factoryId'), '/linkedServices/meta_data_configuration_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/configuration_lookup')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "meta_data_configuration_db",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/meta_data_configuration_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/data-ingestion-avro')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Avro File Metadata",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Create The Child Execution Log",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "avro_ingestion_input_file",
								"type": "DatasetReference",
								"parameters": {
									"filePath": {
										"value": "@pipeline().parameters.filePath",
										"type": "Expression"
									},
									"fileName": {
										"value": "@pipeline().parameters.fileName",
										"type": "Expression"
									},
									"containerName": {
										"value": "@pipeline().parameters.ingestionContainerName",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"size",
								"columnCount",
								"itemName",
								"structure"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true
							}
						}
					},
					{
						"name": "FileSize gt 0 and ColumnCount Expected",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Create The New Path Based On Load Type",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@and(greater(activity('Get Avro File Metadata').output.size, 0),equals(pipeline().parameters.columnCount, activity('Get Avro File Metadata').output.columnCount))",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "execute data ingestion error",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "data-ingestion-error",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"ingestionContainerName": {
												"value": "@pipeline().parameters.ingestionContainerName",
												"type": "Expression"
											},
											"fileName": {
												"value": "@pipeline().parameters.fileName",
												"type": "Expression"
											},
											"filePath": {
												"value": "@pipeline().parameters.filePath",
												"type": "Expression"
											},
											"errorContainerName": {
												"value": "@pipeline().parameters.errorContainerName",
												"type": "Expression"
											},
											"parentDataFactoryRunId": {
												"value": "@pipeline().parameters.parentDataFactoryRunId",
												"type": "Expression"
											}
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Copy Avro to Raw Zone",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AvroSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": false,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings",
												"blockSizeInMB": 75
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "avro_ingestion_input_file",
											"type": "DatasetReference",
											"parameters": {
												"filePath": {
													"value": "@pipeline().parameters.filePath",
													"type": "Expression"
												},
												"fileName": {
													"value": "@pipeline().parameters.fileName",
													"type": "Expression"
												},
												"containerName": {
													"value": "@pipeline().parameters.ingestionContainerName",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "data_ingestion_raw_output_file_parquet",
											"type": "DatasetReference",
											"parameters": {
												"containerName": {
													"value": "@pipeline().parameters.ingestionOutputContainerName",
													"type": "Expression"
												},
												"filePath": {
													"value": "@variables('calculatedPath')",
													"type": "Expression"
												},
												"fileName": {
													"value": "@pipeline().parameters.rawDestinationFileName",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Delete Ingestion FIle",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Copy Avro to Raw Zone",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "avro_ingestion_input_file",
											"type": "DatasetReference",
											"parameters": {
												"filePath": {
													"value": "@pipeline().parameters.filePath",
													"type": "Expression"
												},
												"fileName": {
													"value": "@pipeline().parameters.fileName",
													"type": "Expression"
												},
												"containerName": {
													"value": "@pipeline().parameters.ingestionContainerName",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true
										}
									}
								}
							]
						}
					},
					{
						"name": "Create The New Path Based On Load Type",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Avro File Metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "calculatedPath",
							"value": {
								"value": "@if(equals(pipeline().parameters.loadType,'FULL'), pipeline().parameters.rawDestination, concat(pipeline().parameters.rawDestination, formatDateTime(pipeline().TriggerTime, 'yyyy'), '/', formatDateTime(pipeline().TriggerTime, 'MM'), '/', formatDateTime(pipeline().TriggerTime, 'dd'), '/'))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Create The Child Execution Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[CreateChildExecutionLog]",
							"storedProcedureParameters": {
								"DataFactoryName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"DataFactoryRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecutionStartDateTime": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "String"
								},
								"FileName": {
									"value": {
										"value": "@pipeline().parameters.fileName",
										"type": "Expression"
									},
									"type": "String"
								},
								"ParentDataFactoryRunId": {
									"value": {
										"value": "@pipeline().parameters.parentDataFactoryRunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "meta_data_configuration_db",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "End the Child Execution Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "FileSize gt 0 and ColumnCount Expected",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[EndChildExecutionLog]",
							"storedProcedureParameters": {
								"DataFactoryRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"ParentDataFactoryRunId": {
									"value": {
										"value": "@pipeline().parameters.parentDataFactoryRunId",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "meta_data_configuration_db",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"fileName": {
						"type": "string",
						"defaultValue": "buyinggroups.avro"
					},
					"filePath": {
						"type": "string"
					},
					"rawDestination": {
						"type": "string",
						"defaultValue": "WorldWideImporters/buyinggroups/"
					},
					"rawDestinationFileName": {
						"type": "string",
						"defaultValue": "buyinggroups.parquet"
					},
					"columnCount": {
						"type": "int",
						"defaultValue": 5
					},
					"loadType": {
						"type": "string",
						"defaultValue": "FULL"
					},
					"ingestionContainerName": {
						"type": "string",
						"defaultValue": "landing"
					},
					"ingestionOutputContainerName": {
						"type": "string",
						"defaultValue": "raw"
					},
					"errorContainerName": {
						"type": "string",
						"defaultValue": "error"
					},
					"parentDataFactoryRunId": {
						"type": "string",
						"defaultValue": "864d42c4-6177-417a-8bf2-36881ca5ba64"
					}
				},
				"variables": {
					"calculatedPath": {
						"type": "String"
					}
				},
				"folder": {
					"name": "data-ingestion"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/avro_ingestion_input_file')]",
				"[concat(variables('factoryId'), '/linkedServices/meta_data_configuration_db')]",
				"[concat(variables('factoryId'), '/pipelines/data-ingestion-error')]",
				"[concat(variables('factoryId'), '/datasets/data_ingestion_raw_output_file_parquet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/data-ingestion-delimited')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Delimited File MetaData",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Create the Child Execution Log",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "delmited_ingestion_input_file",
								"type": "DatasetReference",
								"parameters": {
									"filePath": {
										"value": "@pipeline().parameters.filePath",
										"type": "Expression"
									},
									"fileName": {
										"value": "@pipeline().parameters.fileName",
										"type": "Expression"
									},
									"containerName": {
										"value": "@pipeline().parameters.ingestionContainerName",
										"type": "Expression"
									},
									"compressionType": "none",
									"compressionLevel": "Optimal",
									"columnDelimiter": ",",
									"encoding": "UTF-8",
									"escapeCharacter": "\\",
									"quoteCharacter": "\"",
									"firstRowAsHeader": true
								}
							},
							"fieldList": [
								"size",
								"columnCount",
								"itemName",
								"structure"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Set The Path Based on the LoadType",
						"description": "",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Delimited File MetaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "calculatedPath",
							"value": {
								"value": "@if(equals(pipeline().parameters.loadType,'FULL'), pipeline().parameters.rawDestination, concat(pipeline().parameters.rawDestination, formatDateTime(pipeline().TriggerTime, 'yyyy'), '/', formatDateTime(pipeline().TriggerTime, 'MM'), '/', formatDateTime(pipeline().TriggerTime, 'dd'), '/'))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "FileSize gt 0 and ColumnCount Expected",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Set The Path Based on the LoadType",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@and(greater(activity('Get Delimited File MetaData').output.size, 0),equals(pipeline().parameters.columnCount, activity('Get Delimited File MetaData').output.columnCount))",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "execute data ingestion error",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "data-ingestion-error",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"ingestionContainerName": {
												"value": "@pipeline().parameters.ingestionContainerName",
												"type": "Expression"
											},
											"fileName": {
												"value": "@pipeline().parameters.fileName",
												"type": "Expression"
											},
											"filePath": {
												"value": "@pipeline().parameters.filePath",
												"type": "Expression"
											},
											"errorContainerName": {
												"value": "@pipeline().parameters.errorContainerName",
												"type": "Expression"
											},
											"parentDataFactoryRunId": {
												"value": "@pipeline().parameters.parentDataFactoryRunId",
												"type": "Expression"
											}
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Copy Delimited File From",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "delmited_ingestion_input_file",
											"type": "DatasetReference",
											"parameters": {
												"filePath": {
													"value": "@pipeline().parameters.filePath",
													"type": "Expression"
												},
												"fileName": {
													"value": "@pipeline().parameters.fileName",
													"type": "Expression"
												},
												"containerName": {
													"value": "@pipeline().parameters.ingestionContainerName",
													"type": "Expression"
												},
												"compressionType": {
													"value": "@pipeline().parameters.compressionType",
													"type": "Expression"
												},
												"compressionLevel": {
													"value": "@pipeline().parameters.compressionLevel",
													"type": "Expression"
												},
												"columnDelimiter": {
													"value": "@pipeline().parameters.columnDelimiter",
													"type": "Expression"
												},
												"encoding": {
													"value": "@pipeline().parameters.encoding",
													"type": "Expression"
												},
												"escapeCharacter": {
													"value": "@pipeline().parameters.escapeCharacter",
													"type": "Expression"
												},
												"quoteCharacter": {
													"value": "@pipeline().parameters.quoteCharacter",
													"type": "Expression"
												},
												"firstRowAsHeader": {
													"value": "@pipeline().parameters.firstRowAsHeader",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "data_ingestion_raw_output_file_parquet",
											"type": "DatasetReference",
											"parameters": {
												"containerName": {
													"value": "@pipeline().parameters.ingestionOutputContainerName",
													"type": "Expression"
												},
												"filePath": {
													"value": "@variables('calculatedPath')",
													"type": "Expression"
												},
												"fileName": {
													"value": "@pipeline().parameters.fileName",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Delete the Landed File",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Copy Delimited File From",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "delmited_ingestion_input_file",
											"type": "DatasetReference",
											"parameters": {
												"filePath": {
													"value": "@pipeline().parameters.filePath",
													"type": "Expression"
												},
												"fileName": {
													"value": "@pipeline().parameters.fileName",
													"type": "Expression"
												},
												"containerName": {
													"value": "@pipeline().parameters.ingestionContainerName",
													"type": "Expression"
												},
												"compressionType": "none",
												"compressionLevel": "Optimal",
												"columnDelimiter": ",",
												"encoding": "UTF-8",
												"escapeCharacter": "\\",
												"quoteCharacter": "\"",
												"firstRowAsHeader": true
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true
										}
									}
								}
							]
						}
					},
					{
						"name": "Create the Child Execution Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[CreateChildExecutionLog]",
							"storedProcedureParameters": {
								"DataFactoryName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"DataFactoryRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecutionStartDateTime": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "String"
								},
								"FileName": {
									"value": {
										"value": "@pipeline().parameters.fileName",
										"type": "Expression"
									},
									"type": "String"
								},
								"ParentDataFactoryRunId": {
									"value": {
										"value": "@pipeline().parameters.parentDataFactoryRunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "meta_data_configuration_db",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "End the Child Execution Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "FileSize gt 0 and ColumnCount Expected",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[EndChildExecutionLog]",
							"storedProcedureParameters": {
								"DataFactoryRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"ParentDataFactoryRunId": {
									"value": {
										"value": "@pipeline().parameters.parentDataFactoryRunId",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "meta_data_configuration_db",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"fileName": {
						"type": "string",
						"defaultValue": "buyinggroups.csv"
					},
					"filePath": {
						"type": "string",
						"defaultValue": "/"
					},
					"rawDestination": {
						"type": "string",
						"defaultValue": "WorldWideImporters/buyinggroups/"
					},
					"rawDestinationFileName": {
						"type": "string",
						"defaultValue": "buyinggroups.parquet"
					},
					"columnCount": {
						"type": "int",
						"defaultValue": 5
					},
					"loadType": {
						"type": "string",
						"defaultValue": "FULL"
					},
					"ingestionContainerName": {
						"type": "string",
						"defaultValue": "landing"
					},
					"ingestionOutputContainerName": {
						"type": "string",
						"defaultValue": "raw"
					},
					"compressionType": {
						"type": "string",
						"defaultValue": "none"
					},
					"compressionLevel": {
						"type": "string",
						"defaultValue": "Optimal"
					},
					"columnDelimiter": {
						"type": "string",
						"defaultValue": ","
					},
					"encoding": {
						"type": "string",
						"defaultValue": "UTF-8"
					},
					"escapeCharacter": {
						"type": "string",
						"defaultValue": "\\"
					},
					"quoteCharacter": {
						"type": "string",
						"defaultValue": "\""
					},
					"firstRowAsHeader": {
						"type": "bool",
						"defaultValue": true
					},
					"errorContainerName": {
						"type": "string",
						"defaultValue": "error"
					},
					"parentDataFactoryRunId": {
						"type": "string",
						"defaultValue": "864d42c4-6177-417a-8bf2-36881ca5ba64"
					}
				},
				"variables": {
					"calculatedPath": {
						"type": "String"
					}
				},
				"folder": {
					"name": "data-ingestion"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/delmited_ingestion_input_file')]",
				"[concat(variables('factoryId'), '/linkedServices/meta_data_configuration_db')]",
				"[concat(variables('factoryId'), '/pipelines/data-ingestion-error')]",
				"[concat(variables('factoryId'), '/datasets/data_ingestion_raw_output_file_parquet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/data-ingestion-json')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get JSON File Metadata",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Create Child Execution Log",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "json_ingestion_input_file",
								"type": "DatasetReference",
								"parameters": {
									"filePath": {
										"value": "@pipeline().parameters.filePath",
										"type": "Expression"
									},
									"fileName": {
										"value": "@pipeline().parameters.fileName",
										"type": "Expression"
									},
									"containerName": {
										"value": "@pipeline().parameters.ingestionContainerName",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"size",
								"structure",
								"itemName"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true
							}
						}
					},
					{
						"name": "Create The New Path Based On Load Type",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get JSON File Metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "calculatedPath",
							"value": {
								"value": "@if(equals(pipeline().parameters.loadType,'FULL'), pipeline().parameters.rawDestination, concat(pipeline().parameters.rawDestination, formatDateTime(pipeline().TriggerTime, 'yyyy'), '/', formatDateTime(pipeline().TriggerTime, 'MM'), '/', formatDateTime(pipeline().TriggerTime, 'dd'), '/'))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "FileSize gt 0",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Create The New Path Based On Load Type",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(activity('Get JSON File MetaData').output.size, 0)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "execute data ingestion error",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "data-ingestion-error",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"ingestionContainerName": {
												"value": "@pipeline().parameters.ingestionContainerName",
												"type": "Expression"
											},
											"fileName": {
												"value": "@pipeline().parameters.fileName",
												"type": "Expression"
											},
											"filePath": {
												"value": "@pipeline().parameters.filePath",
												"type": "Expression"
											},
											"errorContainerName": {
												"value": "@pipeline().parameters.errorContainerName",
												"type": "Expression"
											},
											"parentDataFactoryRunId": {
												"value": "@pipeline().parameters.parentDataFactoryRunId",
												"type": "Expression"
											}
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Copy JSON to Raw Zone",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "json_ingestion_input_file",
											"type": "DatasetReference",
											"parameters": {
												"filePath": {
													"value": "@pipeline().parameters.filePath",
													"type": "Expression"
												},
												"fileName": {
													"value": "@pipeline().parameters.fileName",
													"type": "Expression"
												},
												"containerName": {
													"value": "@pipeline().parameters.ingestionContainerName",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "data_ingestion_raw_output_file_parquet",
											"type": "DatasetReference",
											"parameters": {
												"containerName": {
													"value": "@pipeline().parameters.ingestionOutputContainerName",
													"type": "Expression"
												},
												"filePath": {
													"value": "@pipeline().parameters.rawDestination",
													"type": "Expression"
												},
												"fileName": {
													"value": "@pipeline().parameters.rawDestinationFileName",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Delete Ingestion File",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Copy JSON to Raw Zone",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "json_ingestion_input_file",
											"type": "DatasetReference",
											"parameters": {
												"filePath": {
													"value": "@pipeline().parameters.filePath",
													"type": "Expression"
												},
												"fileName": {
													"value": "@pipeline().parameters.fileName",
													"type": "Expression"
												},
												"containerName": {
													"value": "@pipeline().parameters.ingestionContainerName",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": false
										}
									}
								}
							]
						}
					},
					{
						"name": "Create Child Execution Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[CreateChildExecutionLog]",
							"storedProcedureParameters": {
								"DataFactoryName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"DataFactoryRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecutionStartDateTime": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "String"
								},
								"FileName": {
									"value": {
										"value": "@pipeline().parameters.fileName",
										"type": "Expression"
									},
									"type": "String"
								},
								"ParentDataFactoryRunId": {
									"value": {
										"value": "@pipeline().parameters.parentDataFactoryRunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "meta_data_configuration_db",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "End Child Execution Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "FileSize gt 0",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[EndChildExecutionLog]",
							"storedProcedureParameters": {
								"DataFactoryRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"ParentDataFactoryRunId": {
									"value": {
										"value": "@pipeline().parameters.parentDataFactoryRunId",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "meta_data_configuration_db",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"fileName": {
						"type": "string",
						"defaultValue": "buyinggroups.avro"
					},
					"filePath": {
						"type": "string"
					},
					"rawDestination": {
						"type": "string",
						"defaultValue": "WorldWideImporters/buyinggroups/"
					},
					"rawDestinationFileName": {
						"type": "string",
						"defaultValue": "buyinggroups.parquet"
					},
					"columnCount": {
						"type": "int",
						"defaultValue": 5
					},
					"loadType": {
						"type": "string",
						"defaultValue": "FULL"
					},
					"ingestionContainerName": {
						"type": "string",
						"defaultValue": "landing"
					},
					"ingestionOutputContainerName": {
						"type": "string",
						"defaultValue": "raw"
					},
					"errorContainerName": {
						"type": "string",
						"defaultValue": "error"
					},
					"parentDataFactoryRunId": {
						"type": "string",
						"defaultValue": "864d42c4-6177-417a-8bf2-36881ca5ba64"
					}
				},
				"variables": {
					"calculatedPath": {
						"type": "String"
					}
				},
				"folder": {
					"name": "data-ingestion"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/json_ingestion_input_file')]",
				"[concat(variables('factoryId'), '/linkedServices/meta_data_configuration_db')]",
				"[concat(variables('factoryId'), '/pipelines/data-ingestion-error')]",
				"[concat(variables('factoryId'), '/datasets/data_ingestion_raw_output_file_parquet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/data-ingestion-parquet')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Parquet File MetaData",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Create Child Execution Log",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "parquet_ingestion_input_file",
								"type": "DatasetReference",
								"parameters": {
									"filePath": {
										"value": "@pipeline().parameters.filePath",
										"type": "Expression"
									},
									"fileName": {
										"value": "@pipeline().parameters.fileName",
										"type": "Expression"
									},
									"containerName": {
										"value": "@pipeline().parameters.ingestionContainerName",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"columnCount",
								"size",
								"structure",
								"itemName"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true
							}
						}
					},
					{
						"name": "Set The Path Based on the LoadType",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Parquet File MetaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "calculatedPath",
							"value": {
								"value": "@if(equals(pipeline().parameters.loadType,'FULL'), pipeline().parameters.rawDestination, concat(pipeline().parameters.rawDestination, formatDateTime(pipeline().TriggerTime, 'yyyy'), '/', formatDateTime(pipeline().TriggerTime, 'MM'), '/', formatDateTime(pipeline().TriggerTime, 'dd'), '/'))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "FileSize gt 0 and ColumnCount Expected",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Set The Path Based on the LoadType",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@and(greater(activity('Get Parquet File MetaData').output.size, 0),equals(pipeline().parameters.columnCount, activity('Get Parquet File MetaData').output.columnCount))",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "execute data ingestion error",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "data-ingestion-error",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"ingestionContainerName": {
												"value": "@pipeline().parameters.ingestionContainerName",
												"type": "Expression"
											},
											"fileName": {
												"value": "@pipeline().parameters.fileName",
												"type": "Expression"
											},
											"filePath": {
												"value": "@pipeline().parameters.filePath",
												"type": "Expression"
											},
											"errorContainerName": {
												"value": "@pipeline().parameters.errorContainerName",
												"type": "Expression"
											},
											"parentDataFactoryRunId": {
												"value": "@pipeline().parameters.parentDataFactoryRunId",
												"type": "Expression"
											}
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Copy Parquet File From Landing to Raw",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ParquetSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": false,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "parquet_ingestion_input_file",
											"type": "DatasetReference",
											"parameters": {
												"filePath": {
													"value": "@pipeline().parameters.filePath",
													"type": "Expression"
												},
												"fileName": {
													"value": "@pipeline().parameters.fileName",
													"type": "Expression"
												},
												"containerName": {
													"value": "@pipeline().parameters.ingestionContainerName",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "data_ingestion_raw_output_file_parquet",
											"type": "DatasetReference",
											"parameters": {
												"containerName": {
													"value": "@pipeline().parameters.ingestionOutputContainerName",
													"type": "Expression"
												},
												"filePath": {
													"value": "@pipeline().parameters.rawDestination",
													"type": "Expression"
												},
												"fileName": {
													"value": "@pipeline().parameters.rawDestinationFileName",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Delete Landing File",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Copy Parquet File From Landing to Raw",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "parquet_ingestion_input_file",
											"type": "DatasetReference",
											"parameters": {
												"filePath": {
													"value": "@pipeline().parameters.filePath",
													"type": "Expression"
												},
												"fileName": {
													"value": "@pipeline().parameters.fileName",
													"type": "Expression"
												},
												"containerName": {
													"value": "@pipeline().parameters.ingestionContainerName",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": false
										}
									}
								}
							]
						}
					},
					{
						"name": "Create Child Execution Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[CreateChildExecutionLog]",
							"storedProcedureParameters": {
								"DataFactoryName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"DataFactoryRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecutionStartDateTime": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "String"
								},
								"FileName": {
									"value": {
										"value": "@pipeline().parameters.fileName",
										"type": "Expression"
									},
									"type": "String"
								},
								"ParentDataFactoryRunId": {
									"value": {
										"value": "@pipeline().parameters.parentDataFactoryRunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "meta_data_configuration_db",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "End Child Execution Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "FileSize gt 0 and ColumnCount Expected",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[EndChildExecutionLog]",
							"storedProcedureParameters": {
								"DataFactoryRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"ParentDataFactoryRunId": {
									"value": {
										"value": "@pipeline().parameters.parentDataFactoryRunId",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "meta_data_configuration_db",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"fileName": {
						"type": "string",
						"defaultValue": "buyinggroups.avro"
					},
					"filePath": {
						"type": "string"
					},
					"rawDestination": {
						"type": "string",
						"defaultValue": "WorldWideImporters/buyinggroups/"
					},
					"rawDestinationFileName": {
						"type": "string",
						"defaultValue": "buyinggroups.parquet"
					},
					"columnCount": {
						"type": "int",
						"defaultValue": 5
					},
					"loadType": {
						"type": "string",
						"defaultValue": "FULL"
					},
					"ingestionContainerName": {
						"type": "string",
						"defaultValue": "landing"
					},
					"ingestionOutputContainerName": {
						"type": "string",
						"defaultValue": "raw"
					},
					"errorContainerName": {
						"type": "string",
						"defaultValue": "error"
					},
					"parentDataFactoryRunId": {
						"type": "string",
						"defaultValue": "864d42c4-6177-417a-8bf2-36881ca5ba64"
					}
				},
				"variables": {
					"calculatedPath": {
						"type": "String"
					}
				},
				"folder": {
					"name": "data-ingestion"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/parquet_ingestion_input_file')]",
				"[concat(variables('factoryId'), '/linkedServices/meta_data_configuration_db')]",
				"[concat(variables('factoryId'), '/pipelines/data-ingestion-error')]",
				"[concat(variables('factoryId'), '/datasets/data_ingestion_raw_output_file_parquet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/data-ingestion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "File Lookup and Start Execution Log",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.06:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[GetFileInformation]",
								"storedProcedureParameters": {
									"DataFactoryName": {
										"type": "String",
										"value": {
											"value": "@pipeline().DataFactory",
											"type": "Expression"
										}
									},
									"DataFactoryRunId": {
										"type": "String",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									"ExecutionStartDateTime": {
										"type": "String",
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										}
									},
									"FileName": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.sourceFile",
											"type": "Expression"
										}
									},
									"PipelineName": {
										"type": "String",
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "configuration_lookup",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "End Execution Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Did we find a record in the file lookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[EndExecutionLog]",
							"storedProcedureParameters": {
								"DataFactoryRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "meta_data_configuration_db",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Did we find a record in the file lookup",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Replace the Container in the Path with empty space",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(length(activity('File Lookup and Start Execution Log').output.value), 0)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "execute data ingestion error for failure pipelines",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "data-ingestion-error",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"ingestionContainerName": {
												"value": "@pipeline().parameters.ingestionContainerName",
												"type": "Expression"
											},
											"fileName": {
												"value": "@pipeline().parameters.sourceFile",
												"type": "Expression"
											},
											"filePath": {
												"value": "@variables('ingestionFolderPath')",
												"type": "Expression"
											},
											"errorContainerName": {
												"value": "@pipeline().parameters.errorContainerName",
												"type": "Expression"
											},
											"parentDataFactoryRunId": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Data-Ingestion-By-FileType",
									"type": "Switch",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"on": {
											"value": "@toUpper(activity('File Lookup and Start Execution Log').output.value[0].FileType)",
											"type": "Expression"
										},
										"cases": [
											{
												"value": "AVRO",
												"activities": [
													{
														"name": "execute data ingestion avro",
														"type": "ExecutePipeline",
														"dependsOn": [],
														"userProperties": [],
														"typeProperties": {
															"pipeline": {
																"referenceName": "data-ingestion-avro",
																"type": "PipelineReference"
															},
															"waitOnCompletion": true,
															"parameters": {
																"fileName": {
																	"value": "@pipeline().parameters.sourceFile",
																	"type": "Expression"
																},
																"filePath": {
																	"value": "@variables('ingestionFolderPath')",
																	"type": "Expression"
																},
																"rawDestination": {
																	"value": "@activity('File Lookup and Start Execution Log').output.value[0].RawZoneDestination",
																	"type": "Expression"
																},
																"rawDestinationFileName": {
																	"value": "@activity('File Lookup and Start Execution Log').output.value[0].RawZoneFileName",
																	"type": "Expression"
																},
																"columnCount": {
																	"value": "@activity('File Lookup and Start Execution Log').output.value[0].ColumnCount",
																	"type": "Expression"
																},
																"loadType": {
																	"value": "@activity('File Lookup and Start Execution Log').output.value[0].LoadType",
																	"type": "Expression"
																},
																"ingestionContainerName": {
																	"value": "@pipeline().parameters.ingestionContainerName",
																	"type": "Expression"
																},
																"ingestionOutputContainerName": {
																	"value": "@activity('File Lookup and Start Execution Log').output.value[0].RawZoneContainerName",
																	"type": "Expression"
																},
																"errorContainerName": {
																	"value": "@pipeline().parameters.errorContainerName",
																	"type": "Expression"
																},
																"parentDataFactoryRunId": {
																	"value": "@pipeline().RunId",
																	"type": "Expression"
																}
															}
														}
													}
												]
											},
											{
												"value": "DELIMITED",
												"activities": [
													{
														"name": "execute data ingestion delimited",
														"type": "ExecutePipeline",
														"dependsOn": [],
														"userProperties": [],
														"typeProperties": {
															"pipeline": {
																"referenceName": "data-ingestion-delimited",
																"type": "PipelineReference"
															},
															"waitOnCompletion": true,
															"parameters": {
																"fileName": {
																	"value": "@pipeline().parameters.sourceFile",
																	"type": "Expression"
																},
																"filePath": {
																	"value": "@variables('ingestionFolderPath')",
																	"type": "Expression"
																},
																"rawDestination": {
																	"value": "@activity('File Lookup and Start Execution Log').output.value[0].RawZoneDestination",
																	"type": "Expression"
																},
																"rawDestinationFileName": {
																	"value": "@activity('File Lookup and Start Execution Log').output.value[0].RawZoneFileName",
																	"type": "Expression"
																},
																"columnCount": {
																	"value": "@activity('File Lookup and Start Execution Log').output.value[0].ColumnCount",
																	"type": "Expression"
																},
																"loadType": {
																	"value": "@activity('File Lookup and Start Execution Log').output.value[0].LoadType",
																	"type": "Expression"
																},
																"ingestionContainerName": {
																	"value": "@pipeline().parameters.ingestionContainerName",
																	"type": "Expression"
																},
																"ingestionOutputContainerName": {
																	"value": "@activity('File Lookup and Start Execution Log').output.value[0].RawZoneContainerName",
																	"type": "Expression"
																},
																"compressionType": {
																	"value": "@activity('File Lookup and Start Execution Log').output.value[0].CompressionType",
																	"type": "Expression"
																},
																"compressionLevel": {
																	"value": "@activity('File Lookup and Start Execution Log').output.value[0].CompressionLevel",
																	"type": "Expression"
																},
																"columnDelimiter": {
																	"value": "@activity('File Lookup and Start Execution Log').output.value[0].ColumnDelimiter",
																	"type": "Expression"
																},
																"encoding": {
																	"value": "@activity('File Lookup and Start Execution Log').output.value[0].Encoding",
																	"type": "Expression"
																},
																"escapeCharacter": {
																	"value": "@activity('File Lookup and Start Execution Log').output.value[0].EscapeCharacter",
																	"type": "Expression"
																},
																"quoteCharacter": {
																	"value": "@activity('File Lookup and Start Execution Log').output.value[0].QuoteCharacter",
																	"type": "Expression"
																},
																"firstRowAsHeader": {
																	"value": "@activity('File Lookup and Start Execution Log').output.value[0].FirstRowAsHeader",
																	"type": "Expression"
																},
																"errorContainerName": {
																	"value": "@pipeline().parameters.errorContainerName",
																	"type": "Expression"
																},
																"parentDataFactoryRunId": {
																	"value": "@pipeline().RunId",
																	"type": "Expression"
																}
															}
														}
													}
												]
											},
											{
												"value": "JSON",
												"activities": [
													{
														"name": "execute data ingestion json",
														"type": "ExecutePipeline",
														"dependsOn": [],
														"userProperties": [],
														"typeProperties": {
															"pipeline": {
																"referenceName": "data-ingestion-json",
																"type": "PipelineReference"
															},
															"waitOnCompletion": true,
															"parameters": {
																"fileName": {
																	"value": "@pipeline().parameters.sourceFile",
																	"type": "Expression"
																},
																"filePath": {
																	"value": "@variables('ingestionFolderPath')",
																	"type": "Expression"
																},
																"rawDestination": {
																	"value": "@activity('File Lookup and Start Execution Log').output.value[0].RawZoneDestination",
																	"type": "Expression"
																},
																"rawDestinationFileName": {
																	"value": "@activity('File Lookup and Start Execution Log').output.value[0].RawZoneFileName",
																	"type": "Expression"
																},
																"columnCount": {
																	"value": "@activity('File Lookup and Start Execution Log').output.value[0].ColumnCount",
																	"type": "Expression"
																},
																"loadType": {
																	"value": "@activity('File Lookup and Start Execution Log').output.value[0].LoadType",
																	"type": "Expression"
																},
																"ingestionContainerName": {
																	"value": "@pipeline().parameters.ingestionContainerName",
																	"type": "Expression"
																},
																"ingestionOutputContainerName": {
																	"value": "@activity('File Lookup and Start Execution Log').output.value[0].RawZoneContainerName",
																	"type": "Expression"
																},
																"errorContainerName": {
																	"value": "@pipeline().parameters.errorContainerName",
																	"type": "Expression"
																},
																"parentDataFactoryRunId": {
																	"value": "@pipeline().RunId",
																	"type": "Expression"
																}
															}
														}
													}
												]
											},
											{
												"value": "PARQUET",
												"activities": [
													{
														"name": "execute data ingestion parquet",
														"type": "ExecutePipeline",
														"dependsOn": [],
														"userProperties": [],
														"typeProperties": {
															"pipeline": {
																"referenceName": "data-ingestion-parquet",
																"type": "PipelineReference"
															},
															"waitOnCompletion": true,
															"parameters": {
																"fileName": {
																	"value": "@pipeline().parameters.sourceFile",
																	"type": "Expression"
																},
																"filePath": {
																	"value": "@variables('ingestionFolderPath')",
																	"type": "Expression"
																},
																"rawDestination": {
																	"value": "@activity('File Lookup and Start Execution Log').output.value[0].RawZoneDestination",
																	"type": "Expression"
																},
																"rawDestinationFileName": {
																	"value": "@activity('File Lookup and Start Execution Log').output.value[0].RawZoneFileName",
																	"type": "Expression"
																},
																"columnCount": {
																	"value": "@activity('File Lookup and Start Execution Log').output.value[0].ColumnCount",
																	"type": "Expression"
																},
																"loadType": {
																	"value": "@activity('File Lookup and Start Execution Log').output.value[0].LoadType",
																	"type": "Expression"
																},
																"ingestionContainerName": {
																	"value": "@pipeline().parameters.ingestionContainerName",
																	"type": "Expression"
																},
																"ingestionOutputContainerName": {
																	"value": "@activity('File Lookup and Start Execution Log').output.value[0].RawZoneContainerName",
																	"type": "Expression"
																},
																"errorContainerName": {
																	"value": "@pipeline().parameters.errorContainerName",
																	"type": "Expression"
																},
																"parentDataFactoryRunId": {
																	"value": "@pipeline().RunId",
																	"type": "Expression"
																}
															}
														}
													}
												]
											}
										],
										"defaultActivities": [
											{
												"name": "execute data ingestion error",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "data-ingestion-error",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"ingestionContainerName": {
															"value": "@pipeline().parameters.ingestionContainerName",
															"type": "Expression"
														},
														"fileName": {
															"value": "@pipeline().parameters.sourceFile",
															"type": "Expression"
														},
														"filePath": {
															"value": "@variables('ingestionFolderPath')",
															"type": "Expression"
														},
														"errorContainerName": {
															"value": "@pipeline().parameters.errorContainerName",
															"type": "Expression"
														},
														"parentDataFactoryRunId": {
															"value": "@pipeline().RunId",
															"type": "Expression"
														}
													}
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "Replace the Container in the Path with empty space",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "File Lookup and Start Execution Log",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "ingestionFolderPath",
							"value": {
								"value": "@replace(pipeline().parameters.sourceFolder, pipeline().parameters.ingestionContainerName, '')",
								"type": "Expression"
							}
						}
					}
				],
				"concurrency": 10,
				"parameters": {
					"sourceFolder": {
						"type": "string",
						"defaultValue": "/"
					},
					"sourceFile": {
						"type": "string",
						"defaultValue": "orders.avro"
					},
					"ingestionContainerName": {
						"type": "string",
						"defaultValue": "landing"
					},
					"errorContainerName": {
						"type": "string",
						"defaultValue": "error"
					}
				},
				"variables": {
					"ingestionFolderPath": {
						"type": "String",
						"defaultValue": "/"
					}
				},
				"folder": {
					"name": "data-ingestion"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/configuration_lookup')]",
				"[concat(variables('factoryId'), '/linkedServices/meta_data_configuration_db')]",
				"[concat(variables('factoryId'), '/pipelines/data-ingestion-error')]",
				"[concat(variables('factoryId'), '/pipelines/data-ingestion-avro')]",
				"[concat(variables('factoryId'), '/pipelines/data-ingestion-delimited')]",
				"[concat(variables('factoryId'), '/pipelines/data-ingestion-json')]",
				"[concat(variables('factoryId'), '/pipelines/data-ingestion-parquet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/landing_file_pickup')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "data-ingestion",
							"type": "PipelineReference"
						},
						"parameters": {
							"sourceFolder": "[parameters('landing_file_pickup_properties_data-ingestion_parameters_sourceFolder')]",
							"sourceFile": "[parameters('landing_file_pickup_properties_data-ingestion_parameters_sourceFile')]",
							"ingestionContainerName": "[parameters('landing_file_pickup_properties_data-ingestion_parameters_ingestionContainerName')]",
							"errorContainerName": "[parameters('landing_file_pickup_properties_data-ingestion_parameters_errorContainerName')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/landing/blobs/",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('landing_file_pickup_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/data-ingestion')]"
			]
		}
	]
}