mtcchimoderndwdf001d/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "mtcchimoderndwdf001d"
		},
		"azure_sql_db_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'azure_sql_db'"
		},
		"metadata_db_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'metadata_db'"
		},
		"azure_key_vault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "@{concat('https://', linkedService().keyVaultName, '.vault.azure.net')}"
		},
		"data_lake_storage_account_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{concat('https://', linkedService().storageAccountName, '.dfs.core.windows.net')}"
		},
		"ssisIntegrationRuntime_properties_typeProperties_ssisProperties_catalogInfo_catalogServerEndpoint": {
			"type": "string",
			"defaultValue": "mtcchioltp001d.database.windows.net"
		},
		"azure_file_storage_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "@{linkedService().keyVaultSecretName}"
		},
		"CloudSales-daily-trigger_properties_azure-sql-data-ingestion_parameters_sourceServerFQDN": {
			"type": "string",
			"defaultValue": "andrmdwopenhacksourcesql001d.database.windows.net"
		},
		"CloudSales-daily-trigger_properties_azure-sql-data-ingestion_parameters_sourceDatabaseName": {
			"type": "string",
			"defaultValue": "CloudSales"
		},
		"CloudSales-daily-trigger_properties_azure-sql-data-ingestion_parameters_extractionDateTime": {
			"type": "string",
			"defaultValue": "@trigger().startTime"
		},
		"CloudStreaming-daily-trigger_properties_azure-sql-data-ingestion_parameters_sourceServerFQDN": {
			"type": "string",
			"defaultValue": "andrmdwopenhacksourcesql001d.database.windows.net"
		},
		"CloudStreaming-daily-trigger_properties_azure-sql-data-ingestion_parameters_sourceDatabaseName": {
			"type": "string",
			"defaultValue": "CloudStreaming"
		},
		"CloudStreaming-daily-trigger_properties_azure-sql-data-ingestion_parameters_extractionDateTime": {
			"type": "string",
			"defaultValue": "@trigger().startTime"
		},
		"OnPremRentals-daily-trigger_properties_azure-sql-data-ingestion_parameters_sourceServerFQDN": {
			"type": "string",
			"defaultValue": "andrmdwopenhacksourcesql001d.database.windows.net"
		},
		"OnPremRentals-daily-trigger_properties_azure-sql-data-ingestion_parameters_sourceDatabaseName": {
			"type": "string",
			"defaultValue": "OnPremRentals"
		},
		"OnPremRentals-daily-trigger_properties_azure-sql-data-ingestion_parameters_extractionDateTime": {
			"type": "string",
			"defaultValue": "@trigger().startTime"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/azure_key_vault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"keyVaultName": {
						"type": "string",
						"defaultValue": "andrmoderdwkv001d"
					}
				},
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('azure_key_vault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/azure_sql_db')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"databaseName": {
						"type": "string",
						"defaultValue": "CloudSales"
					},
					"serverFQDN": {
						"type": "string",
						"defaultValue": "andrmdwopenhacksourcesql001d.database.windows.net"
					}
				},
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('azure_sql_db_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/data_lake_storage_account')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"storageAccountName": {
						"type": "string",
						"defaultValue": "andrdatalake001d"
					}
				},
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('data_lake_storage_account_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/metadata_db')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('metadata_db_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sapIntegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ssisIntegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "East US",
						"nodeSize": "Standard_D2_v3",
						"numberOfNodes": 1,
						"maxParallelExecutionsPerNode": 2
					},
					"ssisProperties": {
						"catalogInfo": {
							"catalogServerEndpoint": "[parameters('ssisIntegrationRuntime_properties_typeProperties_ssisProperties_catalogInfo_catalogServerEndpoint')]",
							"catalogPricingTier": "S1"
						},
						"edition": "Enterprise",
						"licenseType": "BasePrice"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/azure_data_lake_store_object')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "data_lake_storage_account",
					"type": "LinkedServiceReference",
					"parameters": {
						"storageAccountName": {
							"value": "@dataset().storageAccountName",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"storageAccountName": {
						"type": "string",
						"defaultValue": "andrdatalake001d"
					},
					"containerName": {
						"type": "string",
						"defaultValue": "bronze"
					},
					"directory": {
						"type": "string",
						"defaultValue": "southridge/cloudsales/addresses"
					},
					"fileName": {
						"type": "string",
						"defaultValue": "addresses.snappy.parquet"
					},
					"extractionDate": {
						"type": "string",
						"defaultValue": "2021-06-22"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat(dataset().directory, '/extraction-date=', formatDateTime(dataset().extractionDate, 'yyyy-MM-dd'))",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().containerName",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/data_lake_storage_account')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/azure_sql_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azure_sql_db",
					"type": "LinkedServiceReference",
					"parameters": {
						"databaseName": {
							"value": "@dataset().databaseName",
							"type": "Expression"
						},
						"serverFQDN": "andrmdwopenhacksourcesql001d.database.windows.net"
					}
				},
				"parameters": {
					"schema": {
						"type": "string",
						"defaultValue": "etl"
					},
					"objectName": {
						"type": "string",
						"defaultValue": "customers"
					},
					"databaseName": {
						"type": "string",
						"defaultValue": "CloudSales"
					},
					"serverName": {
						"type": "string",
						"defaultValue": "andrmdwopenhacksourcesql001d.database.windows.net"
					}
				},
				"folder": {
					"name": "source objects"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().objectName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azure_sql_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/metadata_objects_to_extract')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "metadata_db",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "metadata objects"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/metadata_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/azure_file_storage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "AzureFileStorage",
				"parameters": {
					"keyVaultSecretName": {
						"type": "String",
						"defaultValue": "andronpremfilesystem001d"
					},
					"fileShare": {
						"type": "String",
						"defaultValue": "files"
					}
				},
				"annotations": [],
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "azure_key_vault",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('azure_file_storage_properties_typeProperties_connectionString_secretName')]"
					},
					"fileShare": "@{linkedService().fileShare}"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azure_key_vault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/azure-sql-data-ingestion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Azure SQL Tables To Extract",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[metadata].[GET_SOURCE_DESTINATION_OBJECTS]",
								"storedProcedureParameters": {
									"SERVER_DATABASE": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.sourceDatabaseName",
											"type": "Expression"
										}
									},
									"SERVER_FQDN": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.sourceServerFQDN",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "metadata_objects_to_extract",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Loop Through Each Object To Process",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Azure SQL Tables To Extract",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Azure SQL Tables To Extract').output.value",
								"type": "Expression"
							},
							"batchCount": 10,
							"activities": [
								{
									"name": "Copy Source Data To ADLS",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings",
												"metadata": [
													{
														"name": "SILVER_STORAGE_ACCOUNT_NAME",
														"value": {
															"value": "@item().SILVER_STORAGE_ACCOUNT_NAME",
															"type": "Expression"
														}
													},
													{
														"name": "SILVER_CONTAINER_NAME",
														"value": {
															"value": "@item().SILVER_CONTAINER_NAME",
															"type": "Expression"
														}
													},
													{
														"name": "SILVER_DIRECTORY",
														"value": {
															"value": "@item().SILVER_DIRECTORY",
															"type": "Expression"
														}
													},
													{
														"name": "SILVER_LOAD_TYPE",
														"value": {
															"value": "@item().SILVER_LOAD_TYPE",
															"type": "Expression"
														}
													},
													{
														"name": "GOLD_STORAGE_ACCOUNT_NAME",
														"value": {
															"value": "@item().GOLD_STORAGE_ACCOUNT_NAME",
															"type": "Expression"
														}
													},
													{
														"name": "GOLD_CONTAINER_NAME",
														"value": {
															"value": "@item().GOLD_CONTAINER_NAME",
															"type": "Expression"
														}
													},
													{
														"name": "GOLD_DIRECTORY",
														"value": {
															"value": "@item().GOLD_DIRECTORY",
															"type": "Expression"
														}
													},
													{
														"name": "GOLD_LOAD_TYPE",
														"value": {
															"value": "@item().GOLD_LOAD_TYPE",
															"type": "Expression"
														}
													},
													{
														"name": "PRIMARY_KEY_FIELDS",
														"value": {
															"value": "@item().PRIMARY_KEY_FIELDS",
															"type": "Expression"
														}
													}
												]
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "azure_sql_table",
											"type": "DatasetReference",
											"parameters": {
												"schema": {
													"value": "@item().SCHEMA_NAME",
													"type": "Expression"
												},
												"objectName": {
													"value": "@item().OBJECT_NAME",
													"type": "Expression"
												},
												"databaseName": {
													"value": "@pipeline().parameters.sourceDatabaseName",
													"type": "Expression"
												},
												"serverName": {
													"value": "@pipeline().parameters.sourceServerFQDN",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "azure_data_lake_store_object",
											"type": "DatasetReference",
											"parameters": {
												"storageAccountName": {
													"value": "@item().BRONZE_STORAGE_ACCOUNT_NAME",
													"type": "Expression"
												},
												"containerName": {
													"value": "@item().BRONZE_CONTAINER_NAME",
													"type": "Expression"
												},
												"directory": {
													"value": "@item().BRONZE_DIRECTORY",
													"type": "Expression"
												},
												"fileName": {
													"value": "@concat(toLower(item().OBJECT_NAME), '.snappy.parquet')",
													"type": "Expression"
												},
												"extractionDate": {
													"value": "@pipeline().parameters.extractionDateTime",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"sourceServerFQDN": {
						"type": "string",
						"defaultValue": "andrmdwopenhacksourcesql001d.database.windows.net"
					},
					"sourceDatabaseName": {
						"type": "string",
						"defaultValue": "CloudSales"
					},
					"extractionDateTime": {
						"type": "string",
						"defaultValue": "2021-06-22"
					}
				},
				"folder": {
					"name": "data-ingestion"
				},
				"annotations": [],
				"lastPublishTime": "2021-06-23T01:42:04Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/metadata_objects_to_extract')]",
				"[concat(variables('factoryId'), '/datasets/azure_sql_table')]",
				"[concat(variables('factoryId'), '/datasets/azure_data_lake_store_object')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/azure_delimited_objects')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azure_file_storage",
					"type": "LinkedServiceReference",
					"parameters": {
						"keyVaultSecretName": {
							"value": "@dataset().keyVaultSecretName",
							"type": "Expression"
						},
						"fileShare": {
							"value": "@dataset().fileShare",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"keyVaultSecretName": {
						"type": "string",
						"defaultValue": "andronpremfilesystem001d"
					},
					"fileShare": {
						"type": "string",
						"defaultValue": "files"
					},
					"directoryName": {
						"type": "string",
						"defaultValue": "/"
					},
					"fileName": {
						"type": "string",
						"defaultValue": "Actors.csv"
					}
				},
				"folder": {
					"name": "source objects"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureFileStorageLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().directoryName",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azure_file_storage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/azure-file-data-ingestion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy All Files From Folder",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "azure_delimited_objects",
								"type": "DatasetReference",
								"parameters": {
									"keyVaultSecretName": "andronpremfilesystem001d",
									"fileShare": "files",
									"directoryName": "/",
									"fileName": "Actors.csv"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "azure_data_lake_store_object",
								"type": "DatasetReference",
								"parameters": {
									"storageAccountName": "andrdatalake001d",
									"containerName": "bronze",
									"directory": "southridge/onpremises/files",
									"fileName": "actors.snappy.parquet",
									"extractionDate": "2021-06-22"
								}
							}
						]
					}
				],
				"parameters": {
					"extractionDateTime": {
						"type": "string",
						"defaultValue": "2021-06-06"
					}
				},
				"folder": {
					"name": "data-ingestion"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/azure_delimited_objects')]",
				"[concat(variables('factoryId'), '/datasets/azure_data_lake_store_object')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CloudSales-daily-trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "azure-sql-data-ingestion",
							"type": "PipelineReference"
						},
						"parameters": {
							"sourceServerFQDN": "[parameters('CloudSales-daily-trigger_properties_azure-sql-data-ingestion_parameters_sourceServerFQDN')]",
							"sourceDatabaseName": "[parameters('CloudSales-daily-trigger_properties_azure-sql-data-ingestion_parameters_sourceDatabaseName')]",
							"extractionDateTime": "[parameters('CloudSales-daily-trigger_properties_azure-sql-data-ingestion_parameters_extractionDateTime')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-06-22T20:45:00",
						"timeZone": "Central Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/azure-sql-data-ingestion')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CloudStreaming-daily-trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "azure-sql-data-ingestion",
							"type": "PipelineReference"
						},
						"parameters": {
							"sourceServerFQDN": "[parameters('CloudStreaming-daily-trigger_properties_azure-sql-data-ingestion_parameters_sourceServerFQDN')]",
							"sourceDatabaseName": "[parameters('CloudStreaming-daily-trigger_properties_azure-sql-data-ingestion_parameters_sourceDatabaseName')]",
							"extractionDateTime": "[parameters('CloudStreaming-daily-trigger_properties_azure-sql-data-ingestion_parameters_extractionDateTime')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-06-25T20:30:00",
						"timeZone": "Central Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/azure-sql-data-ingestion')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OnPremRentals-daily-trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "azure-sql-data-ingestion",
							"type": "PipelineReference"
						},
						"parameters": {
							"sourceServerFQDN": "[parameters('OnPremRentals-daily-trigger_properties_azure-sql-data-ingestion_parameters_sourceServerFQDN')]",
							"sourceDatabaseName": "[parameters('OnPremRentals-daily-trigger_properties_azure-sql-data-ingestion_parameters_sourceDatabaseName')]",
							"extractionDateTime": "[parameters('OnPremRentals-daily-trigger_properties_azure-sql-data-ingestion_parameters_extractionDateTime')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-07-08T18:30:00",
						"timeZone": "Central Standard Time",
						"schedule": {}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/azure-sql-data-ingestion')]"
			]
		}
	]
}